coler palatte{
    color:#2D2D2A Jet;
    
    color: #4C4C47 davys ggrey;

    color: #C14953 Bittersweet;

    color: #E5DCC5 bone;
}



font-family: 'Raleway', sans-serif;

font-family: 'Comfortaa', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Poppins', sans-serif;